.parejas_carta{
    width: 125px;
    height: 125px;
}

.parejas_C_portada{
    width: 125px;
    height: 125px;
    background-color: #ffb300;
}

.parejas_C_contenido{
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 220, 244);
}

@media (max-width: 635px) {
    .parejas_carta{
        width: 100px;
        height: 100px;
    }
    .parejas_C_portada{
        width: 100px;
        height: 100px;
    }
    .parejas_C_contenido{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 555px) {
    .parejas_carta{
        width: 75px;
        height: 75px;
    }
    .parejas_C_portada{
        width: 75px;
        height: 75px;
    }
    .parejas_C_contenido{
        width: 75px;
        height: 75px;
    }
}

.parejas_cartaNoEstatica{
    cursor: pointer;
}

.ReactFlipCard{
    width: 100%;
    height: 100%;
}