.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.letrasCambiantes{
  color: #0000FF;
  animation: color 2s infinite;
  font-size: large;
  opacity: 0 ;
  font-weight: bold;
}

.botonSocial:hover {
  filter: drop-shadow(0px 0px 2px rgb(255 255 255 / 0.7));
}


@keyframes color {
  0% { opacity: 0 ; }
  25% { opacity: 0.5 ;  }
  50% { opacity: 1 ;  }
  75% { opacity: 0.5 ;  }
  100% { opacity: 0 ;  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (max-width: 575px){

}

.contenedor {
  position: relative;
  width: 230px;
  height: 140px;
  transition: opacity 0.3s ease;
}

.tarjeta-informacion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contenedor:hover .tarjeta-informacion {
  opacity: 1;
}

/*
* {
  scrollbar-gutter: stable;
}
*/