.snake_contenedor{
    height: calc(100vh - 50px);
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tableroSnake{
  background-color: black;
  height: 80%;
  width: 80%;
  border: 1px solid rgba(245, 245, 245, 0.267);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tableroFila{
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableroCell{
  height: 100%;
  width: 5%;
  box-sizing: border-box;
}

.color-0{
  background-color: #181818;
  border: 5px outset #000000;

}
.color-1{
  background-color: #adff2f;
  border: 5px outset #84c424;

}
.color-2{
  background-color: #808080;
  border: 5px outset #616161;
}

.color-3{
  background-color: #FF8F80;
  border: 5px outset #E07061;
}
